$twitter: #4099ff;
$facebook: #3b5998;
$google-plus: #db5a3c;
$instagram: #5c3d2e;
$github: #4183c4;

@mixin iconColor($background, $color: white){
	background: $background;
	color: $color;
	&:hover {
		background: $background;
		color: $color;	
	}
}

.social {
	margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 50px;
    background: lightgray;	
}

h2 {
	color: #505050;
}

button {
	border: none;
	background: none;
}

.icon-btn {
	height: 75px;
    width: 75px;
    border: 0;
    margin: 2px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
    line-height: 75px;
    transition: .3s;
    &:hover {
    	transform: scale(1.10);
    }
}	

.twitter {
	@include iconColor($twitter);
}

.facebook {
	@include iconColor($facebook);
}

.google-plus {
	@include iconColor($google-plus);
}

.instagram {
	@include iconColor($instagram);
}

.github {
	@include iconColor($github);
}